@import "tailwindcss";

:root {
  --background: #000;
  --foreground: #fff;
  --base-size: 16px;
}

@layer utilities {
  .container {
    margin-inline: auto;
    max-width: 1600px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@theme inline {
  /* Breakpoints */
  --breakpoint-2xl: 1600px;

  /* Line */
  --color-line-light: #E6E8EE;
  --color-line-dark:  #5A6270;
  --color-line-medium:#C0C4CC;

  /* Main */
  --color-main:       #1F4FFF;   /* DEFAULT */
  --color-main-dark:  #0A1A3D;
  --color-main-light: #E6ECFF;

  /* Neutral */
  /* --color-neutral-100:#FFFFFF;
  --color-neutral-200:#F5F6FA;
  --color-neutral-300:#E6E8EE;
  --color-neutral-400:#C0C4CC;
  --color-neutral-500:#5A6270;
  --color-neutral-600:#000000; */
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-size: var(--base-size);
}

@media (max-width: 768px) {
  :root {
    font-size: 2.0833vw; /* md 사이즈 이하일 때 base-size 변경 */
  }
}

@keyframes rotateText {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@keyframes touchMove {
    0% {
      opacity: 0;
      transform: translateY(-0);
    }
    20% {
      opacity: 1;
      transform: translateY(-0);
    }
    80% {
      opacity: 1;
      transform: translateY(20px);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }

  @keyframes lineFlow {
    0% {
      opacity: 0;
      transform: translateY(-25px);
    }
    20% {
      opacity: 1;
      transform: translateY(-25px);
    }
    80% {
      opacity: 1;
      transform: translateY(20px);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }

  .line-track-bg {
    background: rgba(255, 255, 255, 0.1);
  }

  /* Touch line animation */
  .animate-lineFlow {
    animation: lineFlow 3s ease-in-out infinite;
  }

  .animate-touchMove {
    animation: touchMove 3s ease-in-out infinite;
  }

/* Miller Banner 기본 */
.font-miller {
  font-family: "miller-banner", serif;
}